{% extends 'consultant/forms/form.html' %}

{% block main_content_title %}<h4 class="m-4"><i class="fa-solid fa-list-check fa-lg"></i> Update Client Details</h4><hr>{% endblock main_content_title %}

{% block card_hearder %}Update Client Details{% endblock card_hearder %}

{% block form_action %}{% url 'update-client' client.id %}{% endblock form_action %}

{% block form_button %}Update{% endblock form_button %}
{% block cancel_url %}{% url "manage-clients" %}{% endblock cancel_url %}

