{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Consultant Registration{% endblock page_title %}

{% block body %}

{% block main_content_title %}<h1 class="m-4 text-center"><i class="fa-solid fa-address-card fa-lg"></i> Create User Account</h1><hr>{% endblock main_content_title %}
                    
<div class="row justify-content-center">
    <div class="col-8 m-1">
        <div class="card bg-light  m-3">
            <div class="card-header"><i class="fa-solid fa-address-card fa-lg"></i> Create Consultant Account</div>

            <div class="card-body">
              <form action="{% url 'create-consultant-account' %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-dark"><i class="fa-regular fa-floppy-disk fa-lg"></i> Create Account</button>
                <a href="{% url "dologin" %}" class="btn btn-dark"><i class="fa-solid fa-xmark fa-lg"></i> Cancel</a>
              </form>
              {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <h5 class="text-danger m-4">{{message}}</h5>
                    {% endif %}
              {% endfor %}
            </div>
          </div>
    </div>
</div>

{% endblock body %}